<!DOCTYPE HTML>
<!--[if IE 6]><html class="ie6 lte9 lte8 lte7 no-css3" lang="zh-cn"><![endif]-->
<!--[if IE 7]><html class="ie7 lte9 lte8 lte7 no-css3" lang="zh-cn"><![endif]-->
<!--[if IE 8]><html class="ie8 lte9 lte8 no-css3" lang="zh-cn"><![endif]-->
<!--[if IE 9]><html class="ie9 lte9 no-css3" lang="zh-cn"><![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8) | !(IE 9)  ]><!--><html lang="zh-cn" class='non-ie'><!--<![endif]-->
	<head>
		<meta charset="utf-8" />

		{% if page.excerpt %}
			<meta name="description" content="{{ page.excerpt }}" />
		{% else %}
			<meta name="description" content="关注css javascript 以及所有前端前沿技术" />
		{% endif %}

		<meta name="keywords" content="css,javascript,html5,前端,web,页面制作" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=0.5,maximum-scale=2,user-scalable=yes" /><!-- 响应式网页设计：initial-scale设定初始缩放比例 maximum-scale设定允许用户缩放到的最大比例 minimum-scale设定允许用户缩放到的最小比例 值范围从0.0到10.0 user-scalable设定是否允许用户进行手动缩放 值为yes或no -->
		<title>{{ page.title }}</title>

		<!-- page icon -->
		<link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/images/favicon.png" />

		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/syntax.css" />

		<!-- Custom CSS -->
		<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css" />

	</head>
	<body class="{{ page.id }}">
		<div class="header">
			<div class="wrap">
				<h1 class="logo">
					<a href="{{ site.baseurl }}/">{{ site.name }}</a>
				</h1>
			<div class="search-block">
				<input class="search-block__input is-noready" type="text" id="search" ng-model="name" placeholder="search..." />
				<button type="button" class="search-block__load-button progress-button"><span class="progress-button__content">开启搜索控件</span><span class="progress-button__progress"></span></button>
				<ul class="search-block__result"></ul>
			</div>
			</div>
		</div>

		{{ content }}

		<div class="footer">

		</div>

		<script src="{{ site.baseurl }}/scripts/sea.js"></script>
		<script>
			seajs.use('index');
		</script>
	</body>
</html>
